# Reporte: Entrenar un modelo de regresión linea múltiple

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

Cargamos los datos

In [11]:
ruta = '/home/personal/Documentos/semestre-2/Intro_AprendizajeM/dataset/gld_price_data.csv'
datos = pd.read_csv(ruta)

In [10]:
(
    datos.head(10)
)

        Date          SPX        GLD        USO        SLV   EUR/USD
0   1/2/2008  1447.160034  84.860001  78.470001  15.180000  1.471692
1   1/3/2008  1447.160034  85.570000  78.370003  15.285000  1.474491
2   1/4/2008  1411.630005  85.129997  77.309998  15.167000  1.475492
3   1/7/2008  1416.180054  84.769997  75.500000  15.053000  1.468299
4   1/8/2008  1390.189941  86.779999  76.059998  15.590000  1.557099
5   1/9/2008  1409.130005  86.550003  75.250000  15.520000  1.466405
6  1/10/2008  1420.329956  88.250000  74.019997  16.061001  1.480100
7  1/11/2008  1401.020020  88.580002  73.089996  16.077000  1.479006
8  1/14/2008  1416.250000  89.540001  74.250000  16.280001  1.486900
9  1/15/2008  1380.949951  87.989998  72.779999  15.834000  1.480210

SPX:índice bursátil de EE.UU. 
GLD:Precio del Oro
USO:Precio del Petróleo
SLV:Precio de la plata
EUR/USD:Tasa de cambio del euro respecto al dólar estadounidense.

#  Separar los datos en entrenamiento y prueba

In [15]:
# Convertir la columna de fecha a datetime (si es necesario)
datos.iloc[:, 0] = pd.to_datetime(datos.iloc[:, 0])

# Seleccionar variable objetivo y predictores
X = datos[['SPX', 'USO', 'SLV', 'EUR/USD']]  # Variables predictoras
y = datos['GLD']  # Variable objetivo

# Dividir datos en entrenamiento (80%) y prueba (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)